{
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },

    "extends": ["eslint:recommended", "eslint-config-prettier"],
    "rules": {
      "no-console": "off",
      "quotes": ["error", "double"],
      "semi": "off",
      "no-undef": "off",
      "no-unused-vars": "warn",
      "capitalized-comments":"warn"
    },
    "env": {
      "browser": true,
      "node": true,
      "es6": true,
      "jest": true
    }
  
  }